<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
index
<hr>
{% if session['logFlag'] == False %}
<form action="/user/login" method="post">
    <input type="text" placeholder="아이디" name="id">
    <input type="password" placeholder="비밀번호" name="pw">
    <input type="submit" value="로그인">
    <a href="/user/create">회원가입</a>
</form>
{% else %}
    {{ session['userId'] }} 님 환영합니다.
    <a href="/user/logout">로그아웃</a>
{% endif %}
<hr>
<form action="/wine/find" method="post">
    <input type="text" name="query" placeholder="검색하기">
    <input type="submit" value="검색">
</form>

<br>

</body>
</html>