<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
create
<hr>
<form action="/user/new" method="post">
    <input type="text" name="userid" placeholder="아이디"> <br>
    <input type="password" name="password" placeholder="비밀번호"><br>
    <select name="gender">
        <option value="남">남</option>
        <option value="여">여</option>
    </select><br>
    <input type="number" name="age"><br>
    <input type="text" name="email"><br>
    <input type="text" name="address"><br>
    <input type="submit" value="입력">

</form>
</body>
</html>